USE [master]
GO
/****** Object:  Database [BT.3_VIHONGMAI]    Script Date: 5/9/2026 12:15:45 AM ******/
CREATE DATABASE [BT.3_VIHONGMAI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BT.3_VIHONGMAI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BT.3_VIHONGMAI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BT.3_VIHONGMAI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BT.3_VIHONGMAI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BT.3_VIHONGMAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BT.3_VIHONGMAI]
GO
/****** Object:  UserDefinedTableType [dbo].[Table_DanhSachTaiSan]    Script Date: 5/9/2026 12:15:45 AM ******/
CREATE TYPE [dbo].[Table_DanhSachTaiSan] AS TABLE(
	[TenTS] [nvarchar](100) NULL,
	[GiaTriDinhGia] [decimal](18, 2) NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 5/9/2026 12:15:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- BƯỚC 3: CÀI ĐẶT HÀM TÍNH TOÁN CÔNG NỢ THỜI GIAN THỰC (EVENT 2)
CREATE   FUNCTION [dbo].[fn_CalcMoneyContract] (@MaHD INT, @TargetDate DATE)
RETURNS DECIMAL(18,2) AS 
BEGIN
    DECLARE @Goc DECIMAL(18,2), @D1 DATE, @NgayVay DATE, @r FLOAT = 0.005;
    SELECT @Goc = SoTienVay, @D1 = Deadline1, @NgayVay = NgayVay FROM HopDong WHERE MaHD = @MaHD;
    
    RETURN CASE 
        WHEN @TargetDate <= @D1 THEN @Goc + (@Goc * @r * DATEDIFF(DAY, @NgayVay, @TargetDate))
        ELSE (@Goc + (@Goc * @r * DATEDIFF(DAY, @NgayVay, @D1))) * POWER((1 + @r), DATEDIFF(DAY, @D1, @TargetDate)) 
    END
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyTransaction]    Script Date: 5/9/2026 12:15:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcMoneyTransaction] (
    @TransactionID INT,
    @TargetDate DATETIME
)
RETURNS DECIMAL(18, 2)
AS
BEGIN
    DECLARE @Amount DECIMAL(18, 2);

    -- Lấy số tiền trả từ bảng lịch sử nếu ngày trả nợ hợp lệ
    SELECT @Amount = ISNULL(SoTienTra, 0)
    FROM LichSuThanhToan
    WHERE MaLog = @TransactionID AND NgayTra <= @TargetDate;

    RETURN ISNULL(@Amount, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhNoXau]    Script Date: 5/9/2026 12:15:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_TinhNoXau] (
    @Goc DECIMAL(18, 2),
    @NgayBatDau DATETIME,
    @NgayTinh DATETIME
)
RETURNS DECIMAL(18, 2)
AS
BEGIN
    DECLARE @SoNgay INT = DATEDIFF(DAY, @NgayBatDau, @NgayTinh);
    IF @SoNgay < 0 SET @SoNgay = 0;
    -- Công thức lãi kép: Gốc * (1 + 0.05%)^Số ngày
    RETURN CAST(@Goc * POWER((1 + 0.0005), @SoNgay) AS DECIMAL(18, 2));
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTongNoEvent4]    Script Date: 5/9/2026 12:15:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_TinhTongNoEvent4] (
    @SoTienVay DECIMAL(18, 2),
    @NgayVay DATETIME,
    @NgayTinh DATETIME
)
RETURNS DECIMAL(18, 2)
AS
BEGIN
    DECLARE @SoNgayVay INT = DATEDIFF(DAY, @NgayVay, @NgayTinh);
    IF @SoNgayVay < 0 SET @SoNgayVay = 0;
    
    -- Giả sử lãi suất 0.05% mỗi ngày ( lũy tiến )
    DECLARE @TongNo DECIMAL(18, 2) = @SoTienVay * POWER((1 + 0.0005), @SoNgayVay);
    
    RETURN @TongNo;
END;
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 5/9/2026 12:15:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayVay] [date] NULL,
	[SoTienVay] [decimal](18, 2) NOT NULL,
	[Deadline1] [date] NULL,
	[Deadline2] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/9/2026 12:15:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[SDT] [varchar](15) NULL,
	[CCCD] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuThanhToan]    Script Date: 5/9/2026 12:15:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuThanhToan](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[NgayTra] [datetime] NULL,
	[SoTienTra] [decimal](18, 2) NULL,
	[NguoiThu] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 5/9/2026 12:15:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[MaTS] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NOT NULL,
	[TenTS] [nvarchar](100) NOT NULL,
	[GiaTriDinhGia] [decimal](18, 2) NULL,
	[TrangThaiTS] [nvarchar](50) NULL,
	[IsSold] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HopDong] ON 

INSERT [dbo].[HopDong] ([MaHD], [MaKH], [NgayVay], [SoTienVay], [Deadline1], [Deadline2], [TrangThai]) VALUES (1, 1, CAST(N'2026-05-09' AS Date), CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2026-08-09' AS Date), CAST(N'2026-09-09' AS Date), N'Đang vay')
INSERT [dbo].[HopDong] ([MaHD], [MaKH], [NgayVay], [SoTienVay], [Deadline1], [Deadline2], [TrangThai]) VALUES (2, 1, CAST(N'2026-01-01' AS Date), CAST(5000000.00 AS Decimal(18, 2)), CAST(N'2026-02-01' AS Date), NULL, N'Đang vay')
INSERT [dbo].[HopDong] ([MaHD], [MaKH], [NgayVay], [SoTienVay], [Deadline1], [Deadline2], [TrangThai]) VALUES (3, 2, CAST(N'2026-04-20' AS Date), CAST(15000000.00 AS Decimal(18, 2)), CAST(N'2026-05-20' AS Date), NULL, N'Đang vay')
SET IDENTITY_INSERT [dbo].[HopDong] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [CCCD]) VALUES (1, N'Nguyễn Văn Abc', N'0912345678', N'001001001234')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [CCCD]) VALUES (2, N'Nguyễn Thị II', N'0988888888', N'001001002')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [CCCD]) VALUES (3, N'Đỗ Thị B', N'0912345672', N'001001003')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuThanhToan] ON 

INSERT [dbo].[LichSuThanhToan] ([MaLog], [MaHD], [NgayTra], [SoTienTra], [NguoiThu], [NoiDung]) VALUES (1, 1, CAST(N'2026-05-09T00:04:49.650' AS DateTime), CAST(40000.00 AS Decimal(18, 2)), N'Admin_HồngMai', N'Thu lãi gia hạn hợp đồng')
SET IDENTITY_INSERT [dbo].[LichSuThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiSan] ON 

INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTS], [GiaTriDinhGia], [TrangThaiTS], [IsSold]) VALUES (1, 1, N'Xe máy Honda', CAST(25000000.00 AS Decimal(18, 2)), N'Đã bán thanh lý', 1)
INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTS], [GiaTriDinhGia], [TrangThaiTS], [IsSold]) VALUES (2, 1, N'Điện thoại iPhone 15', CAST(15000000.00 AS Decimal(18, 2)), N'Đã bán thanh lý', 1)
INSERT [dbo].[TaiSan] ([MaTS], [MaHD], [TenTS], [GiaTriDinhGia], [TrangThaiTS], [IsSold]) VALUES (3, 2, N'Laptop Dell XPS', CAST(20000000.00 AS Decimal(18, 2)), N'Đang cầm cố', 0)
SET IDENTITY_INSERT [dbo].[TaiSan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A955A0AA893DD979]    Script Date: 5/9/2026 12:15:45 AM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (getdate()) FOR [NgayVay]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Đang vay') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LichSuThanhToan] ADD  DEFAULT (getdate()) FOR [NgayTra]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT (N'Đang cầm cố') FOR [TrangThaiTS]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT ((0)) FOR [IsSold]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_KhachHang]
GO
ALTER TABLE [dbo].[LichSuThanhToan]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD  CONSTRAINT [FK_TaiSan_HopDong] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[TaiSan] CHECK CONSTRAINT [FK_TaiSan_HopDong]
GO
/****** Object:  StoredProcedure [dbo].[sp_DangKyHopDongMoi]    Script Date: 5/9/2026 12:15:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Tạo lại Procedure
CREATE PROCEDURE [dbo].[sp_DangKyHopDongMoi]
    @TenKH NVARCHAR(100),
    @SDT VARCHAR(15),
    @CCCD VARCHAR(20),
    @SoTienVay DECIMAL(18, 2),
    @NgayVay DATE,
    @DanhSachTS Table_DanhSachTaiSan READONLY
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @MaKH INT, @MaHD INT;

        -- Check khách hàng
        SELECT @MaKH = MaKH FROM KhachHang WHERE CCCD = @CCCD;
        IF @MaKH IS NULL
        BEGIN
            INSERT INTO KhachHang (TenKH, SDT, CCCD) VALUES (@TenKH, @SDT, @CCCD);
            SET @MaKH = SCOPE_IDENTITY();
        END

        -- Insert Hợp đồng & Tự tính Deadline
        INSERT INTO HopDong (MaKH, NgayVay, SoTienVay, Deadline1, Deadline2, TrangThai)
        VALUES (
            @MaKH, @NgayVay, @SoTienVay, 
            DATEADD(DAY, 30, @NgayVay), 
            DATEADD(DAY, 60, @NgayVay), 
            N'Đang vay'
        );
        SET @MaHD = SCOPE_IDENTITY();

        -- Insert Tài sản
        INSERT INTO TaiSan (MaHD, TenTS, GiaTriDinhGia)
        SELECT @MaHD, TenTS, GiaTriDinhGia FROM @DanhSachTS;

        COMMIT TRANSACTION;
        PRINT N'Đã sửa lỗi và tạo Procedure thành công!';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaHanHopDong]    Script Date: 5/9/2026 12:15:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Bước 2: Procedure Gia hạn (Reset ngày để tránh lãi kép)
CREATE   PROCEDURE [dbo].[sp_GiaHanHopDong]
    @MaHD INT,
    @NguoiThu NVARCHAR(50),
    @SoThangGiaHan INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        -- Lấy thông tin tính lãi
        DECLARE @NgayVay DATETIME, @SoTienVay DECIMAL(18,2);
        SELECT @NgayVay = NgayVay, @SoTienVay = SoTienVay FROM HopDong WHERE MaHD = @MaHD;
        
        -- Tính lãi suất giả định 0.05%/ngày
        DECLARE @TienLai DECIMAL(18,2) = (@SoTienVay * POWER(1.0005, DATEDIFF(DAY, @NgayVay, GETDATE()))) - @SoTienVay;

        -- Ghi Log giao dịch
        INSERT INTO LichSuThanhToan (MaHD, NgayTra, SoTienTra, NguoiThu, NoiDung)
        VALUES (@MaHD, GETDATE(), @TienLai, @NguoiThu, N'Thu lãi gia hạn hợp đồng');

        -- Cập nhật dời Deadline và Reset NgayVay (Triệt tiêu lãi kép)
        UPDATE HopDong
        SET NgayVay = GETDATE(), 
            Deadline1 = DATEADD(MONTH, @SoThangGiaHan, GETDATE()),
            Deadline2 = DATEADD(MONTH, @SoThangGiaHan + 1, GETDATE()),
            TrangThai = N'Đang vay'
        WHERE MaHD = @MaHD;

        COMMIT;
        PRINT N'Gia hạn và lưu Log thành công!';
    END TRY
    BEGIN CATCH
        ROLLBACK;
        PRINT ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThietLapDeadline]    Script Date: 5/9/2026 12:15:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThietLapDeadline]
    @MaHD INT,
    @NgayVay DATE
AS
BEGIN
  

    
    UPDATE HopDong
    SET Deadline1 = DATEADD(DAY, 30, @NgayVay),
        Deadline2 = DATEADD(DAY, 60, @NgayVay)
    WHERE MaHD = @MaHD;
    
    PRINT N'Đã thiết lập các mốc thời gian cho hợp đồng.';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyTraNo]    Script Date: 5/9/2026 12:15:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. TẠO PROCEDURE ĐẦY ĐỦ CÁC YÊU CẦU NGHIỆP VỤ
CREATE PROCEDURE [dbo].[sp_XuLyTraNo]
    @MaHD INT,
    @SoTienTra DECIMAL(18, 2),
    @NguoiThu NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        
        -- ============================================================
        -- YÊU CẦU 1: KIỂM TRA THANH LÝ (IsSold)
        -- ============================================================
        IF EXISTS (SELECT 1 FROM TaiSan WHERE MaHD = @MaHD AND IsSold = 1)
        BEGIN
            SELECT 
                N'THẤT BẠI' AS KetQua, 
                N'CẢNH BÁO' AS TrangThai, 
                N'Tài sản đã thanh lý sau Deadline 2. Không thu tiền, không trả đồ!' AS ThongBao;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- ============================================================
        -- YÊU CẦU 2: TÍNH TỔNG NỢ VÀ TRỪ TIỀN KHÁCH TRẢ
        -- ============================================================
        -- Gọi Function tính nợ từ Event 2
        DECLARE @TongNoHienTai DECIMAL(18, 2) = dbo.fn_CalcMoneyContract(@MaHD, GETDATE());
        DECLARE @DuNoConLai DECIMAL(18, 2) = @TongNoHienTai - @SoTienTra;

        -- Ghi nhận vào LOG số tiền đã trả
        INSERT INTO LichSuThanhToan (MaHD, NgayTra, SoTienTra, NguoiThu)
        VALUES (@MaHD, GETDATE(), @SoTienTra, @NguoiThu);

        -- ============================================================
        -- YÊU CẦU 3: CẬP NHẬT TRẠNG THÁI HỢP ĐỒNG (TẤT TOÁN / TRẢ GÓP)
        -- ============================================================
        IF @DuNoConLai <= 0
        BEGIN
            -- Trả hết: Cập nhật "Đã thanh toán đủ" và giải phóng toàn bộ tài sản
            UPDATE HopDong SET TrangThai = N'Đã thanh toán đủ' WHERE MaHD = @MaHD;
            UPDATE TaiSan SET TrangThaiTS = N'Đã trả khách' WHERE MaHD = @MaHD AND IsSold = 0;
            SET @DuNoConLai = 0; -- Reset số nợ về 0 để hiển thị đẹp
        END
        ELSE
        BEGIN
            -- Chưa trả hết: Cập nhật "Đang trả góp"
            UPDATE HopDong SET TrangThai = N'Đang trả góp' WHERE MaHD = @MaHD;
        END

        -- HIỂN THỊ KẾ QUẢ GIAO DỊCH (Ghi nhận tiền trả và dư nợ)
        SELECT 
            @MaHD AS MaHD, 
            @SoTienTra AS SoTienVuaTra, 
            @DuNoConLai AS SoTienConNo,
            (SELECT TrangThai FROM HopDong WHERE MaHD = @MaHD) AS TrangThaiHopDong;

        -- ============================================================
        -- YÊU CẦU 4: GỢI Ý TRẢ ĐỒ (GIÁ TRỊ ĐỒ CÒN LẠI >= DƯ NỢ CÒN LẠI)
        -- ============================================================
        -- Tính tổng giá trị tất cả đồ đang giữ của hợp đồng này
        DECLARE @TongGiaTriDoDangGiu DECIMAL(18, 2);
        SELECT @TongGiaTriDoDangGiu = SUM(GiaTriDinhGia) 
        FROM TaiSan WHERE MaHD = @MaHD AND IsSold = 0 AND TrangThaiTS = N'Đang cầm cố';

        -- Danh sách gợi ý: Chỉ hiện món đồ mà nếu trả đi, phần còn lại vẫn >= nợ
        SELECT TenTS, GiaTriDinhGia, N'Gợi ý trả khách (An toàn dư nợ)' AS TrangThaiGoiY
        FROM TaiSan 
        WHERE MaHD = @MaHD 
          AND IsSold = 0 
          AND TrangThaiTS = N'Đang cầm cố'
          AND (@TongGiaTriDoDangGiu - GiaTriDinhGia) >= @DuNoConLai;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT ERROR_MESSAGE() AS LoiHeThong;
    END CATCH
END;
GO
USE [master]
GO
